/* Basics */
body {
    margin: 0 !important;
    padding: 0;
    background-color: #d9d9d9;
}
table {
    border-spacing: 0;
    font-family: sans-serif;
    color: #333333;
}
td {
    padding: 0;
}
img {
    border: 0;
}
div[style*="margin: 16px 0"] { 
    margin:0 !important;
}
.wrapper {
    width: 100%;
    table-layout: fixed;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
.webkit {
    max-width: 600px;
    margin: 0 auto;
}
.outer {
    Margin: 0 auto;
    width: 100%;
    max-width: 600px;
}
.banner{
    width: 100%;
    max-width: 600px;
    padding:10px;
    background-color:#5AC4B4;
    text-align:center;
}
.address {
    width: 100%;
    max-width: 600px;
    padding:10px;
    background-color:#ffffff;  
    font-size: 14px; 
}
.address span{
    Margin: 0;
}
.h2 {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 18px;
}
.three-column {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffffff;
}
.three-column .column {
    width: 100%;
    max-width: 32%;
    display: inline-block;
    vertical-align: center;
}
.three-column button{
    background:none; 
    border:none; 
    color:#5AC4B4; 
    font-size: 14px;
}
.three-column .contents {
    font-size: 14px;
    text-align: center;
}
.three-column .text {
    padding-top: 10px;
}
.inner {
    background-color: white;
}
.mailheader {
    font-size:14px;
    font-weight: bold;
    background-color:#5AC4B4;
    padding:10px;
}
.footer {
    padding-top:10px;
    text-align:center;
    font-size:12px;
}
.threadbutton {
    display:inline-block; 
    padding:5px; 
    background:none; 
    border:1px solid #5AC4B4; 
    border-radius:3px; 
    color:#5AC4B4; 
    font-size:12px;
}
/*Media Queries*/
@media screen and (max-width: 400px) {
    .three-column .column{
        max-width: 100% !important;
    }
}
.newthread {
    padding:10px; 
    padding-bottom:0; 
    max-width:100%; 
    font-size:14px;
}
.newthread table {
    table-layout: fixed;
}
.outline {
    max-width:600px;
    overflow:hidden; 
    white-space:nowrap;
    padding-top:5px; 
    padding-bottom:5px;
}